*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
img{
    margin-top: 10px;
    width: 5%;
    height: 40px;
    border-radius: 50%;
}
.container{
    background-color: #F0F2F5;
    width: 600px;
    height: 400px;
    margin:auto ;
    margin-top:150px;
}
.section1{
    height: 60px;
    box-shadow: 2px 2px 99px 99px;
    color: #FFFFFF;
}
header a{
    margin-left: 10px;
}
.nav  {
    margin-top: -35px;
    margin-left:400px;
}
.nav a{
    margin-left: 20px;
    margin-top: 10px;
    background-color: aliceblue;
    color: black;
    padding: 12px 5px ;
    border-radius: 50%;
}
.mainimg{
    border-radius: 0;
    width: 300px;
    height: 150px;
    margin: 50px 0px 0 150px;
    background-color: transparent;
    margin-top: 5px;
}
h2{
    text-align: center;
    margin-top: 10px;
    color: #676A71;
}
h4{
    text-align: center;
    margin-top: 10px;
    color: #787B82;
    margin-left: 80px;
    margin-right: 80px;
}
button{
    padding: 12px 36px;
    margin-left: 230px;
    margin-top: 20px;
    background-color: #1877F2;
    color: #EDECFB;
    border: none;
    border-radius: 5px;
}
.note{
    width: 5%;
    margin-left: 170px;
    margin-bottom: -30px;
}